@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full h-11 rounded-none shadow-sm focus:border-[#03045E]  focus:ring-[#03045E] border border-black text-[15px] bg-[#F9F9F9];
  }

  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-[#03045E] focus:ring-[#03045E];
  }

  label {
    @apply text-[18px] leading-[27px] font-normal;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.h1 {
  @apply text-[25px] font-bold leading-[38px];
}

.h2 {
  @apply text-[20px] font-medium leading-[30px];
}

.text-normal {
  @apply text-base font-normal;
}

.text-special {
  @apply text-[12px] font-semibold leading-[18px];
}

.form__input,
.form__select {
  @apply w-full rounded-xl h-[55px] border-2 bg-white;
}

.form__input_error,
.form__select_error {
  @apply w-full rounded-xl h-[55px] border border-red-600 bg-white px-4;
}

.form__btn__default {
  @apply w-full h-auto rounded-tr-[20px] rounded-bl-[20px] rounded-tl-sm rounded-br-sm text-center py-4 bg-accent text-white border-[#77858C];
}

.form__btn__default_disabled {
  @apply w-full h-auto rounded-tr-[20px] rounded-bl-[20px] rounded-tl-sm rounded-br-sm text-center py-4 bg-accentDisabled text-black border-[#77858C];
}

label {
  @apply text-xs font-bold;
}

input,
select {
  @apply px-4 py-2 focus-visible:outline-none;
}

.form__btn__default {
  @apply w-full h-auto rounded-tr-[20px] rounded-bl-[20px] rounded-tl-sm rounded-br-sm text-center py-4 bg-accent text-white border-[#77858C];
}

.form__btn__default-disbaled {
  @apply w-full h-auto rounded-tr-[20px] rounded-bl-[20px] rounded-tl-sm rounded-br-sm text-center py-4 bg-accentDisabled text-gray-500 border-[#77858C] cursor-not-allowed;
}

.link__btn__default {
  @apply w-full h-auto rounded-tr-[20px] rounded-bl-[20px] rounded-tl-sm rounded-br-sm text-center py-4 bg-accent text-white border-[#77858C];
}

.link__btn__outline-primary {
  @apply w-full h-auto rounded-tr-[20px] rounded-bl-[20px] rounded-tl-sm rounded-br-sm text-center py-4 bg-transparent text-[#03045E] border-[1.5px] border-[#03045E];
}
